<%= form_for(post) do |form| %>
  <%= render "layouts/warnings", category: post %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= form.file_field :file, accept: 'image/jpeg,image/gif,image/png' %>
  </div>

  <%= form.hidden_field :category_id %>

  <%= form.submit(class: "btn btn-primary") %>
  <%= link_to "Back", post.category, class: "btn btn-secondary" %>
<% end %>
